<template >
      <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="$store.state.drawer">
      <v-list dense>
        <template>
          <v-list-tile :to="{name:'home'}">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>
              Inicio
            </v-list-tile-title>
          </v-list-tile>
        </template>

        <template>
          <v-list-group>
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  Trabajos
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            
            <v-list-tile id="BuscarTrabajo" :to="{ name: 'freelancerBuscarTrabajo'}">
              <v-list-tile-action>
                <v-icon>table_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Busar
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile id="MisPostulaciones" :to="{ name: 'freelancerVerPostulacion'}">
              <v-list-tile-action>
                <v-icon>table_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Mis Postulaciones
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile id="VerTrabajo" :to="{ name: 'freelancerVerTrabajo'}">
              <v-list-tile-action>
                <v-icon>table_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Mis Trabajos
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
           

          </v-list-group>

          <v-list-group>
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  Ordenes
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
           
            <v-list-tile :to="{ name: 'ordenes'}">
              <v-list-tile-action>
                <v-icon>table_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  Ordenes
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

          </v-list-group>
        </template>
        
       
        
      </v-list>
    </v-navigation-drawer>
    </template>

<script>
export default {
    data (){
        return{

        }
    },


}
</script>
