<template>
  <v-layout align-center>
    <v-flex xs12 text-xs-center>
      <h1 class="display-4" display-4>OfertApp para Empresas</h1>
    </v-flex>
    <v-flex xs12 sm4 text-xs-center>
      <v-btn @click="login = true">Ingresasr</v-btn>
      <v-btn @click="register = true">REgistrar</v-btn>
    </v-flex>
    
    
    <!-- registro -->
    <template>
      <v-layout row justify-center>
        <v-dialog v-model="register" fullscreen hide-overlay transition="dialog-bottom-transition">
          <v-card>
            <v-toolbar dark color="primary">
              <v-btn icon dark @click="register = false">
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title>Bienvenido a OffertApp</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn dark flat @click="registerUser">Registrar</v-btn>
              </v-toolbar-items>
            </v-toolbar>

            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="registerData.nombre" label="Ingrese su nombre*" required />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="registerData.apellido" label="Ingrese su apellido" required />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="registerData.celular" label="Ingrese su celular" />
                </v-flex>
                <v-flex xs12>
                <v-text-field v-model="registerData.correo" label="Email*" required />
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="registerData.contrasena" label="Password*" type="password" required />
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="registerData.direccion" label="Ingrese su dirección" />
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field v-model="registerData.dni" label="Ingrese su DNI" />
              </v-flex>
              <v-flex xs12 sm6 >
                <v-dialog ref="dialog" v-model="registerData.datapicker" :return-value.sync="registerData.fechaNacimiento" persistent lazy full-width width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="registerData.fechaNacimiento"
                      label="Ingrese su fecha de nacimiento"
                      prepend-icon="event" readonly v-on="on"/>
                  </template>
                  <v-date-picker v-model="registerData.fechaNacimiento" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="registerData.datapicker = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.dialog.save(registerData.fechaNacimiento)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>

    <!-- Login -->
    <template>
      <v-layout row justify-center>
        <v-dialog v-model="login" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline">Empresa Login</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                 <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field v-model="loginData.correo" label="Email*" required></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field v-model="loginData.contrasena" label="Password*" type="password" required></v-text-field>
                  </v-flex>
                 </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="login = false">Close</v-btn>
              <v-btn color="blue darken-1" flat @click="loginUser">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>
  </v-layout>

  
</template>

<script>
  import axios from "axios"
  import {mapState, mapMutations} from 'vuex'

export default {
  components:{

  },
  name: 'App',
  data () {
    return {
      register:false,
      login:false,

      registerData:{
        correo:"",
        contrasena:"",
        nombre:"",
        apellido:"",
        celular:"",
        direccion:"",
        dni:"",
        fechaNacimiento:new Date().toISOString().substr(0, 10),
        datapicker:false
      },
      loginData:{
        correo:"",
        contrasena:""
      }
    }
  },
  computed:{
    ...mapState([
      'drawer',
      'userActual',
      'menuAdmin'
    ]),
  },
  methods:{
    ...mapMutations([
      'setUserActual',
      'handleMenuAdmin'
    ]),
    registerUser(){
      var me = this;
      console.log("registrando...")
      axios.post("api/Postulante", me.registerData)
      .then((res)=>{
        me.register = false
        console.log("Ok: "+res)
      }).catch((err)=>{
        console.log("Error: "+err)
      });

    },
    loginUser(){
      var me = this;
      console.log("iniciando sesion...")
      axios.post("api/Empresa/validate", me.loginData)
      .then((res)=>{
        me.setUserActual(res.data)
        console.log("Ok: "+res)
      })
      .catch((err)=>{
        console.log("Error: "+err)
      })

      this.login = false
      me.handleMenuAdmin();
    }
  },
}
</script>