<template>
    
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data(){
            return{

            }
        },
        computed:{
            ...mapState([
                'userActual'
            ]),
        },
        methods:{

        },
        created(){
            console.log(this.userActual)
        }
    }
</script>