<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <v-toolbar-side-icon @click.stop="$store.state.drawer = !$store.state.drawer"/>
        <span>Offert</span>
        <span class="font-weight-light">App</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <template v-if="!$store.state.userActual">
          
          <!-- <v-btn @click="miEmpresa" flat>test</v-btn> -->
          <v-btn :to="{name:'empresa'}" flat>Sé empresa</v-btn>
          <v-btn flat @click="login = true">
          <!-- <v-btn flat @click="handleMenuAdmin"> -->
            <v-icon>account_circle</v-icon>
            <span class="mr-2">Login</span>
          </v-btn>
          
          <!-- <v-btn flat @click="setUserActual(2)"> -->
          <v-btn flat @click="register = true">
            <v-icon>account_circle</v-icon>
            <span class="mr-2">Registrate</span>
          </v-btn>
        </template>
        <template v-else>
          <v-btn flat @click="logoutUser">
            <v-icon>exit_to_app</v-icon>
            <span class="mr-2">Salir</span>
          </v-btn>
        </template>
        
      </v-toolbar-items>
    </v-toolbar>

    <!-- Menu usuario -->
    <template v-if="$store.state.menuUser">
      <MenuUser />
    </template>

    <!-- Menu Administrador -->
    <template v-if="$store.state.menuAdmin">
      <MenuAdmin />
    </template>

    <!-- Contenido -->
    <v-content>
      <router-view/>
    </v-content>

    <!-- registro -->
    <template>
      <v-layout row justify-center>
        <v-dialog v-model="register" fullscreen hide-overlay transition="dialog-bottom-transition">
          <v-card>
            <v-toolbar dark color="primary">
              <v-btn icon dark @click="register = false">
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title>Bienvenido a OffertApp</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn dark flat @click="registerUser">Registrar</v-btn>
              </v-toolbar-items>
            </v-toolbar>

            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="registerData.nombre" label="Ingrese su nombre*" required />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="registerData.apellido" label="Ingrese su apellido" required />
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="registerData.celular" label="Ingrese su celular" />
                </v-flex>
                <v-flex xs12>
                <v-text-field v-model="registerData.correo" label="Email*" required />
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="registerData.contrasena" label="Password*" type="password" required />
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="registerData.direccion" label="Ingrese su dirección" />
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field v-model="registerData.dni" label="Ingrese su DNI" />
              </v-flex>
              <v-flex xs12 sm6 >
                <v-dialog ref="dialog" v-model="registerData.datapicker" :return-value.sync="registerData.fechaNacimiento" persistent lazy full-width width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="registerData.fechaNacimiento"
                      label="Ingrese su fecha de nacimiento"
                      prepend-icon="event" readonly v-on="on"/>
                  </template>
                  <v-date-picker v-model="registerData.fechaNacimiento" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="registerData.datapicker = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.dialog.save(registerData.fechaNacimiento)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>

    <!-- Login -->
    <template>
      <v-layout row justify-center>
        <v-dialog v-model="login" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="headline">User Login</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                 <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field v-model="loginData.correo" label="Email*" required></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field v-model="loginData.contrasena" label="Password*" type="password" required></v-text-field>
                  </v-flex>
                 </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="login = false">Close</v-btn>
              <v-btn color="blue darken-1" flat @click="loginUser">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </template>
    
    <MyFooter/>
  </v-app>
</template>

<script>
  import axios from "axios"
  import MyToolbar from './views/MyToolbar.vue'
  import MyFooter from './views/MyFooter.vue'
  import MenuUser from './views/MenuUser.vue'
  import MenuAdmin from './views/MenuAdmin.vue'
  import {mapState, mapMutations} from 'vuex'
export default {
  components:{
    MyToolbar,
    MyFooter,
    MenuUser,
    MenuAdmin,
  },
  name: 'App',
  data () {
    return {
      register:false,
      login:false,
      adminMenu:false,

      registerData:{
        correo:"",
        contrasena:"",
        nombre:"",
        apellido:"",
        celular:"",
        direccion:"",
        dni:"",
        fechaNacimiento:new Date().toISOString().substr(0, 10),
        datapicker:false
      },
      loginData:{
        correo:"",
        contrasena:""
      }
    }
  },
  computed:{
    ...mapState([
      'drawer',
      'userActual',
      'menuUser'
    ]),
  },
  methods:{
    ...mapMutations([
      'setUserActual',
      'handleMenuUser',
      'handleMenuAdmin'
    ]),
    registerUser(){
      var me = this;
      console.log("registrando...")
      axios.post("api/Postulante", me.registerData)
      .then((res)=>{
        me.register = false
        console.log("Ok: "+res)
      }).catch((err)=>{
        console.log("Error: "+err)
      });

    },
    miEmpresa(){
      var me=this;
      
      console.log("mi empresa",me.userActual);
      me.setUserActual('nancy')
    },
    loginUser(){
      var me = this;
      console.log("iniciando sesion...")
      axios.post("api/Postulante/validate", me.loginData)
      .then((res)=>{
        // me.$store.state.userActual = res.data
        me.setUserActual(res.data)
        console.log("Ok: "+res)
      })
      .catch((err)=>{
        console.log("Error: "+err)
      })

      this.login = false
      me.handleMenuUser();
    },
    logoutUser(){
      this.setUserActual(null)
      this.login = false
      // this.handleMenuUser()
      // this.handleMenuAdmin()
      this.$store.state.menuUser = false
      this.$store.state.menuAdmin = false
    }
  },
}
</script>
